#about {
    width: 100%;
    height: fit-content;
   
}
#about h1 {
    width: 100%;
    text-align: center;
    color: white;
    margin: 30px;
   
   
}
#about h1:hover {
    width: 100%;
    text-align: center;
    color: white;
    margin-top: 30px;
   
}

.about-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    column-gap: 10px;
    align-items: center;
    
}

.about {
    border-radius: 5px;
    
}

.about-column-1 {
    padding: 5px;
    border-radius: 10px;
    font-weight: 500;
    margin-right: 20px;
    border-top-left-radius: 50px;
    border-bottom-right-radius: 50px;
}

.about-column {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50%;
    width: 100%;
    margin: 0 10px;
    


    
}
.about-column-1 {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);


}
.title{
    padding: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


.about-img {
    width: 400px;
    height: 400px;
    overflow: hidden;
    border: solid rgb(54, 216, 40);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19) inset;

    border-radius: 50%;
    transition: transform 0.3s;
    transform-origin: center;
    animation: jump 0.5s ease-in-out infinite alternate; /* Apply the jump animation */
}

@keyframes jump {
    0% {
        transform: translateY(0px); 
        
    }
    100% {
        transform: translateY(20px); 
       
    }
}

.about-img:hover {
    animation-play-state: paused; 
   
}

.about-details {
    color: white;
    width: 100%;
    height: 100%;
    overflow: auto;
    
   
   
}

.about-img img {
    width: calc(100% + 30px); 
    height: calc(100% + 130px);
    margin: -20px;
    object-fit: cover; 
}

.about-details h1,
.about-details p {
    margin: 2rem;
}

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
}

.button {
    display: inline-block;
    padding: 10px 20px;
    text-decoration: none;
    
    color: white;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transition: all 0.3s ease;
    margin: 10px;
}

.button:hover {
    color: black;
    transition: all 0.3s ease; /* Specify transition for smooth hover effect */
}

@media (max-width: 768px) {
    #about {
        font-size: 24px;
margin-bottom: 10%;
    }
    
    .about-row {
     
        display: flex;
        flex-direction: column;
        justify-content: center;
        row-gap: 0px;
        align-items: center;
        width: 100%;
        margin: auto;
    }
    
    .about-column-1 {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 500px;
        width: 80%;
        margin: 20px;
      
    }
    
    
    .about-img img {
        margin-top: 5rem;
        width: 100%;
        height: 100%;
        border-radius: 5px;
    }
    
    .about-column {
        text-align: center;
    }
    .about-img img {
        width: calc(100% + 30px); 
        height: calc(100% + 130px);
        margin: -20px;
        object-fit: cover; 
    }
}

@media (max-width: 576px) {
    .about-img img {
        margin-top: 8rem;
        width: 100%;
        height: 100%;
        border-radius: 5px;
    }
}
