#contact{
  height:fit-content;
}
.contact-container {
 
  color: white;

}
.contact-head{
  margin: 20px;
}
.contact-head >p{

  color: rgb(147, 146, 144);
  margin-bottom: 20px;
  margin-left: 200px;

}

.contact-head >h1 {
  color: white;
  font-weight: bold;
  font-size: 50px;
text-align: center; 
transition:color 0.3s  

}


.contact-head >h1:hover{
  width: 100%;
    color: black;
}

.contact-Row {

  display: grid;
        grid-template-columns: repeat(2, 1fr);
        
        row-gap: 30px;
        height: fit-content;
        place-items: center; 
  width: 100%;

 
  
}

.input-col{
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  
 
  height: fit-content;
  place-items: center; 
  margin-bottom: 20px;
}


.input {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: center;

  border-radius: 10px;
  width: 80%;
  height: 500px;
  margin-left: auto;
  margin-right: auto;

}
.input p,.input input,textarea{
  margin-top: 20px;
  padding: 10px;
  border-radius: 10px;
  backdrop-filter: blur(10px);
  outline: none;
  
  

}
.input input,textarea{

  background: transparent;
  backdrop-filter: blur(20px);
  outline: none;
  border: none;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  color: white;
  

}
.btn button{
  padding: 8px 20px ;
  border: none;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background:linear-gradient(rgb(37, 105, 93),rgb(8, 15, 56)) ;

  color: beige;
  font-size: 20px;
  cursor: grabbing;
}
.btn button:hover{
  
  background:linear-gradient(rgb(170, 35, 193),rgb(8, 15, 56)) ;


}
.img-col{
  width: 80%;

}
.img-col {
  margin-top: 30px;
  display: flex;
  flex-direction: row;
  justify-content:center;
  align-items: center;
  column-gap: 20px;

 

}
.img {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  height: fit-content;
  place-items: center;
  margin-bottom: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding: 20px;
   
    width: 80px;
    height: 80px;
}
.img a{
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  color: aliceblue;
  place-items: center;
  font-size: 40px;
  transition: transform 0.3s;}
.img a:hover{
  transform: scale(1.5);
  filter: drop-shadow(8px -2px 3px #000)
}
 

.name{

  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

  padding: 20px;
   
    width: 500px;
    height: 450px;
}






.input input,
.img input,
textarea {
  margin-bottom: 10px;
  width: 80%;
}
@media (max-width: 1200px){
  .contact-Row {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    
    
    place-items: center;
    width: 100%;
    gap: 20px;
    
    margin-bottom: 20px;
  }.contact-head >h1 {
    color: white;
    font-weight: bold;
    font-size: 40px;
  text-align: center; 
  transition:color 0.3s  
  
  }
  
  
  .contact-head >h1:hover{
    width: 100%;
      color: black;
  }

}
@media (max-width: 768px) {
  .contact-Row {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 20px;
    height: auto;
    margin-bottom: 20px;
  }
  
  
  .input-col,
  .img-col {
    max-width: none;
   
  }
  .img img {
    margin-bottom: 20px;
  }
  .img-col {
    margin-top: 30px;
    margin-bottom: 30px;
  display: flex;
  flex-direction: row;
  justify-content:center;
  align-items: center;
  column-gap: 20px;

   
  
  }
  .img {
    margin-top: 30px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding: 20px;
   
  width: 80px;
    height: 100px;
  
  }
}

