

#projects{
  height: fit-content;
  
}
.project-head   {
  display: grid;
grid-template-columns: 3fr, 1fr;

  margin-left: 50px;

width: 60%;
}
.project-head h1{
  margin-left: 50px;
  color: white;
  font-size: 75px;
  font-weight: bolder;
}
.project-head   p{
  display: grid;
grid-template-columns: 3fr, 1fr;
  color: rgb(154, 149, 149);
  font-size: 20px;
  margin-left: 70px;
  margin-top: 20px;


}

  .slider-head {
   
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    column-gap: 2rem;
    position: relative;
    margin-top: 50px;
    margin-bottom: 50px;
    

    
  }
  
 
  
  .button-left,
  .button-right {
    width: 30px;
    height: 30px;
    text-align: center;
  outline: none;
  border: none;
    position: absolute;
    color: aquamarine;
    
    top: 60%;
    transform: translateY(-50%);
    z-index: 1;
    border-radius: 100%;
    margin: 0 10px;
    font-size: 30px;
    background-color: transparent;

  }
  
  .button-left {
    transform: rotate(180deg); 

    left: 10%;
    top: 40%;
  }
  
  .button-right {
    right: 10%;
    top: 40%;

  }
  
  .slider-head .slider-row {
    column-gap: 30px;
  
    margin: 10px 0;
    display: flex;
    justify-content: center;
  }
  
  .slider-row {
    text-align: center;
    width: 35%;
    height: 300px;
  
    border-radius: 10px;
    padding: 5px;
    transition: opacity 0.3s ease;
  }
  
  .slider-row img {
    width: 100%;
    max-height: 100%;
    object-fit: cover;
    transition: transform 2s;
    border-radius: 10px;
  }
  
  .project-details {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    backface-visibility: hidden;
    transform: rotateY(180deg) translateY(100%);
    transition: transform 2s ease;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    background-color: white;
    color: white;
    border-radius: 10px;
  
    background: transparent;
    backdrop-filter: blur(50px);
    text-shadow: 10px;
    font-weight: 500;
  }
  
  .project-details :first-child{
    background-color: white;
    color: black;
   padding:  10px 0;
   border-radius: 10px;

    width: 100%;
    margin-top: 0px;
    
  }
  .project-details > * {
   margin-top: 20px;
  }
  
  .project-details a{
    text-decoration: none;
    color: white;
    border: solid black;
    padding: 1px 5px;
    margin-bottom: 50px;
    background-color: black;
    border-radius: 20px;
    font-size: 10px;
    font-weight: bold;
  }
  .project-details a:hover{
    color: black;
   
    background-color: white;
    border: solid white;
  
  
    font-size: 11px;
  }
  
  .slider-row:hover .project-details {
    transform: rotateY(0deg) translateY(0);
  }
  
  .slider-row {
    position: relative;
    perspective: 1000px;
  }
  
  .slider-row:hover img {
    transform: rotateY(180deg);
  }
  
  .slider-row.fade-out {
    opacity: 0;
    transition: opacity 2s ease; /* Smoother fade-out transition */
  }
  
  @media (max-width: 1200px) {

    .button-left {
      top: 50%;
      left: 0%;
      
    }
  
    .button-right {
      top: 50%;
      right: 0%;
    }
    .project-head   {
      display: flex;
      flex-direction: column;
    justify-items: center; /* Center items horizontally */
    align-items: center;
    width: fit-content;
    margin-left: auto;
    margin-right: 20px;
    text-align: center;
    }
    
  }
  @media (max-width: 768px) {
    .project-head   {
      display: flex;
      flex-direction: column;
    justify-items: center; /* Center items horizontally */
    align-items: center; 
    }
    .row {
      display: flex;
      justify-content: space-between;
      flex-direction: column;
     
      margin: 0 10px;
    }
  .slider-head{
   min-height: 100%;
   height: auto;
    overflow: hidden;

  }
    .slider-row {
      width: 80%;
      height: auto; /* Adjust height for smaller screens */
    }
  
    .slider-row img {
      width: 100%;
      height: 300px; /* Set a fixed height to cover the entire container */
      object-fit: cover;
      object-position: center;
      transition: transform 2s;
    }
  
    .button-left {
      top: 50%;
      left: 0%;
      
    }
  
    .button-right {
      top: 50%;
      right: 0%;
    }
  }
  