#footer {
    background:transparent;

    color: rgb(118, 114, 114); 
      padding: 10px; 
      text-align: center; 
}

.footer-container {
    width: 1200px; 
    margin: 0 auto; 
}
@media (max-width: 1200px){
    .footer-container {
        width: fit-content; 
        margin: 0 auto; 
    }
}
